<div data-role="view" data-title="Apoyo Financiero" data-layout="main" data-model="app.aboutView" data-show="app.helpfinancialView.onShow" data-after-show="app.helpfinancialView.afterShow">
    
    <!--
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" id="HF_prev_arrow"  onclick="HF_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="HF_next_arrow"  onclick="HF_showNext()" style="color:#fff;">Siguiente ></a>
        </div>
    </div>
    -->
    <footer data-role="footer" class="header-top-android">
        <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
            <span class="km-icon km-home button_home" onClick="goHome();"> <!-- Home -->
                <div class="rotulo_home">Inicio</div>
            </span>
            <span class="km-icon km-refresh button_refresh" onClick="Refresh_HFinancial();"></span>
            <div class="line-gray">Apoyo Financiero</div>
            <div class="line-blue">
                <div id="term_periodo_hf" class="rotulo_center"></div>
                <!--<span id="HF_prev_arrow" class="button_left" onclick="HF_showPrevius()">&nbsp;&nbsp;</span>
                <span id="HF_next_arrow" class="button_right" onclick="HF_showNext()">&nbsp;&nbsp;</span>-->
            </div>
        </div>
    </footer>
    
    <div class="page-view" data-bind="invisible:error">
        <!--<div class="page-box" id="apoyof">
        </div>-->
        <div class="page-content">
            <ul data-role="listview">
                <li><a class="km-listview-link" data-role="listview-link" href="components/helpfinancialView/Becas.html"><span style="font-size:17px;">Becas</span><span class="icon-right"></span><span style="font-size:18px; float:right; margin-right:13px; color:#8e8e93;" id="becas"></span></a></li>
                <li><a class="km-listview-link" data-role="listview-link" href="components/helpfinancialView/Credito.html"><span style="font-size:17px;">Créditos</span><span class="icon-right"></span><span style="font-size:18px; float:right; margin-right:13px; color:#8e8e93;" id="creditos"></span></a></li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_retentionsView -->
    <!-- END_CUSTOM_CODE_retentionsView -->
    
    <!--
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Apoyo Financiero</div>
                <span class="km-icon km-refresh android" s onClick="Refresh_HFinancial();"></span>
                <div class="line-orange"> <span id="term_periodo_hf"></span></div>
            </div>
      </footer>
    -->
</div>