<div data-role="view" data-title="Cursos Planeados" data-layout="main-nonav" data-model="app.plannedCoursesView" data-show="app.plannedCoursesView.onShow" data-after-show="app.plannedCoursesView.afterShow">
    <!-- START_CUSTOM_CODE_plannedCoursesView -->

	
    <!----
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            
            <a data-role="button" data-align="right" id="PC_prev_arrow"  onclick="PC_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="PC_next_arrow"  onclick="PC_showNext()" style="color:#fff;">Siguiente ></a>
        </div>
	</div>-->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="km-icon km-home button_home" onClick="goHome();"><span class="text-home">Inicio</span></span> <!-- Home -->
                <span class="km-icon km-refresh button_refresh" onClick="CoursesPlaned();"></span>
                <div class="line-gray">Cursos Planeados</div>
                
                <div class="line-orange">
                    <div id="div_term_CPperiodo" class="rotulo_center">periodo</div>
                    <span id="PC_prev_arrow" class="button_left" onclick="PC_showPrevius()">&nbsp;&nbsp;&nbsp;</span>
                    <span id="PC_next_arrow" class="button_right" onclick="PC_showNext()">&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
       </footer>
    
       
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box">
             
             <div class="card-content-inner">Está opción te permite consultar los cursos que planeas inscribir.</div>
         
             <div id="courseplaneados">

			</div>
			
             
             <table id="table_overlap_id" border="0" cellspacing="0" cellpadding="2" class="sty_table"style="width:100%;">
				<tbody id="tbody_overlap_id"></tbody>
			</table>
           
         </div>
       </div>



    <!-- END_CUSTOM_CODE_plannedCoursesView -->
</div>
