<div data-role="view" data-title="Historia Acad&eacute;mica" data-layout="main-nonav" data-model="app.academicHistoryView" data-show="app.academicHistoryView.onShow" data-after-show="app.academicHistoryView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="Refresh_HAcademic();">&nbsp;</a>
        </div>
	</div>
    
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" id="div_term_periodoHA"></div>
            <a data-role="button" id="AH_prev_arrow" class="km-widget km-button km-back" onclick="AH_showPrevius()" data-align="left">&nbsp;</a>
            <a data-role="button" id="AH_next_arrow" data-align="right" onclick="AH_showNext()"><span class="km-icon km-details"></span>&nbsp;</a>
        </div>
	</div>
    
    
	   <div class="page-view" data-bind="invisible:error">
          <div class="page-content">
           
            <div id="div_content_idHA">

			</div>
           
         </div>
       </div>


    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
