<div data-role="view" data-title="Cursos Planeados" data-layout="main-nonav" data-model="app.plannedCoursesView" data-show="app.plannedCoursesView.onShow" data-after-show="app.plannedCoursesView.afterShow">
    <!-- START_CUSTOM_CODE_plannedCoursesView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="CoursesPlaned();">&nbsp;</a>
        </div>
	</div>
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" id="div_term_CPperiodo"></div>
            <a data-role="button" id="PC_prev_arrow" class="km-widget km-button km-back" onclick="PC_showPrevius()" data-align="left">&nbsp;</a>
            <a data-role="button" id="PC_next_arrow" data-align="right" onclick="PC_showNext()"><span class="km-icon km-details"></span>&nbsp;</a>
        </div>
	</div>
    
    
       
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box">
         
             <div id="courseplaneados">

			</div>
			<table id="table_schedule_id" border="0" cellspacing="0" cellpadding="2" class="sty_table"style="width:100%">
				<tbody id="tbody_sched_id"></tbody>
			</table>
           
         </div>
       </div>


    <!-- END_CUSTOM_CODE_plannedCoursesView -->
</div>
