<div data-role="view" data-title="Cr&eacute;dito educativo" data-layout="main-nonav" data-model="app.interesPosteriorPlan" data-show="app.interesPosteriorPlan.onShow" data-after-show="app.interesPosteriorPlan.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left" href="components/studentCreditView/view.html">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="initInteresPosteriorPlan();">&nbsp;</a>
            
        </div>
	</div>
    
 
    
     <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;">Inter&eacute;s posterior plan (201010)</div>
            
        </div>
	</div>
	
	<div class="page-view">
		<div class="page-box">
            
            <div class="card">
             <div class="card-content">
                   
                 <div class="card-content-inner" id="div_student_credit_4_id">
                     
                    
                 </div>
                 
                 </div>
            </div>
            
        </div>
    </div>
    
    
    
    
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
