<div data-role="view" data-title="Cr&eacute;dito educativo" data-layout="main-nonav" data-model="app.interesPosteriorPlan" data-show="app.interesPosteriorPlan.onShow" data-after-show="app.interesPosteriorPlan.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <div> Inter&eacute;s posterior plan 201010 </div>
        </div>
	</div>
    
     
	
	<div style="margin:5pt;">
		<div class="sty_content" id="div_student_credit_4_id">
        </div>
    </div>
    
    
    
    <footer data-role="footer">
		<a href="view.html"></a>
            <div data-role="tabstrip" id="navigation-container">
                <a href="components/homeView/view.html" data-icon="home">Home</a>
                <a href="components/aboutView/view.html" data-icon="info">Info</a>
            </div>
        </footer>
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
