<div data-role="view" data-title="Cr&eacute;dito educativo" data-layout="main-nonav" data-model="app.interesHastaPlan" data-show="app.interesHastaPlan.onShow" data-after-show="app.interesHastaPlan.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left" href="components/studentCreditView/view.html">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="initInteresHastaPlan();">&nbsp;</a>
            
        </div>
	</div>
    
 
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" id="term_periodo_vc"><div class="normal-header-title">Inter&eacute;s hasta plan</div><div class="small-header-title">(201010)</div></div>
            <a data-role="button" class="km-widget km-button km-back" onclick="AH_showPrevius()" data-align="left">&nbsp;</a>
            <a data-role="button" data-align="right" onclick="AH_showNext()"><span class="km-icon km-details"></span>&nbsp;</a>
        </div>
	</div>
     
	
	<div class="page-view">
		<div class="page-content" id="div_student_credit_2_id">
        </div>
    </div>
    
    
    
    
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
