<div data-role="view" data-title="Cr&eacute;dito educativo" data-layout="main-nonav" data-model="app.studentCreditView" data-show="app.studentCreditView.onShow" data-after-show="app.studentCreditView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
	</div>
    
     
	
	<div style="margin:5pt;">
		<div class="sty_content" id="div_studentCredit_id">
            <ul data-role="listview">
              <li><a  onclick="clickHandler_3('capitalHastaPlan')"><div><div style="float: left">Capital hasta plan 201010 </div>        <div id="CANT_id" style="float: right;">$ 18,341.10&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('interesHastaPlan')"><div><div style="float: left">Interés hasta plan 201010 </div>        <div id="IANT_id" style="float: right;">$ 18,341.10&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('capitalPosteriorPlan')"><div><div style="float: left">Capital posterior plan 201010 </div><div id="CNVO_id" style="float: right;">$ 18,341.10&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('interesPosteriorPlan')"><div><div style="float: left">Interés posterior plan 201010 </div><div id="INVO_id" style="float: right;">$ 18,341.10&nbsp;&nbsp;</div><br/></div></a></li>
            </ul>
        </div>
        
    </div>
    
    
    
    <footer data-role="footer">
		<a href="view.html"></a>
            <div data-role="tabstrip" id="navigation-container">
                <a href="components/homeView/view.html" data-icon="home">Home</a>
                <a href="components/calendarView/view.html" data-icon="info">Calendar</a>
            </div>
        </footer>
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
