<div data-role="view" data-title="Cr&eacute;dito educativo" data-layout="main-nonav" data-model="app.studentCreditView" data-show="app.studentCreditView.onShow" data-after-show="app.studentCreditView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

    <!--
	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
             <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="CEducativoFuct_Refresh();">&nbsp;</a>
        </div>
	</div>
    
    
     <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="km-icon km-home button_home" onClick="goHome();"> <!-- Home -->
                    <div class="rotulo_home">Inicio</div>
                </span>
                <span class="km-icon km-refresh button_refresh" onClick="CEducativoFuct_Refresh();"></span>
                <div class="line-gray">Cr&eacute;dito educativo</div>
                
                <div class="line-orange">
                </div>
            </div>
       </footer>
     
	
	<div class="page-content">
		<div  id="div_studentCredit_id">
            <ul data-role="listview">
              <li><a  onclick="clickHandler_3('capitalHastaPlan')"><div><div style="float:left; font-size:15px; width:60%;">Capital hasta plan 201010: </div> <span class="icon-right"></span><div id="CANT_id" style="float:right; font-size:17px; margin-right:13px; color:#8e8e93;">$ 0.00&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('interesHastaPlan')"><div><div style="float:left; font-size:15px; width:60%;">Interés hasta plan 201010: </div><span class="icon-right"></span> <div id="IANT_id" style="float:right; font-size:17px; margin-right:13px; color:#8e8e93;">$ 0.00&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('capitalPosteriorPlan')"><div><div style="float:left; font-size:15px; width:60%;">Capital posterior plan 201010: </div><span class="icon-right"></span><div id="CNVO_id" style="float:right; font-size:17px; margin-right:13px; color:#8e8e93;">$ 0.00&nbsp;&nbsp;</div><br/></div></a></li>
              <li><a  onclick="clickHandler_3('interesPosteriorPlan')"><div><div style="float:left; font-size:15px; width:60%;">Interés posterior plan 201010: </div><span class="icon-right"></span><div id="INVO_id" style="float:right; font-size:17px; margin-right:13px; color:#8e8e93;">$ 0.00&nbsp;&nbsp;</div><br/></div></a></li>
            </ul>
        </div>
        
    </div>
    <!--
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Cr&eacute;dito educativo</div>
            </div>
      </footer>
    -->
    
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
