<div data-role="view" data-title="Busqueda de Cursos" data-layout="main-nonav" data-model="app.searchCoursesView" data-show="app.searchCoursesView.onShow" data-after-show="app.searchCoursesView.afterShow">
    <!-- START_CUSTOM_CODE_plannedCoursesView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
           <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
        </div>
	</div>
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    
	   <div class="page-view" data-bind="invisible:error">
       
            <div class="page-box">
            <form action="./index.html">
             
                <div class="content-block-title">Indique Titulo o Instructor</div>
                
             <div class="card">
            <ul data-role="listview" data-style="inset">
            <li>
                <label>Titulo:
                    <input type="text" id="titulo" value="" placeholder="Titulo" />
                </label>
             </li>
                <li>
                <label>Instructor:
                    <input type="text" id="instructor" value="" placeholder="Instructor" />
                </label>
            </li>
           
        </ul>
           </div>
                
                <div class="card">
                <ul data-role="listview">
             <li> 
                 
                 <input type="hidden" name="val_periodo" id="val_periodo" value="">
                 <a class="km-listview-link" data-role="listview-link" href="components/periodsView/view.html"><span id="desc_periodo">*Periodo</span></a>
                 
             </li>
                </ul>
                </div>
                
                <div class="card">
                <ul data-role="listview">
             <li> 
                 <input type="hidden" id="val_campus" value="" />
                 <a class="km-listview-link" data-role="listview-link" onClick="clickHandler('campusView')"><span id="desc_campus">*Campus</span></a>
                 
             </li>
                </ul>
                </div>
                
                
                <div class="card">
                <ul data-role="listview">
             <li> 
                 <input type="hidden" name="val_atributos" id="val_atributos" value="">
                 <a class="km-listview-link" data-role="listview-link" onClick="clickHandler('attributesView')">Atributo</a></li>
                </ul>
                </div>
                
                <div class="card">
                <ul data-role="listview">
             <li>
                 <input type="hidden" name="val_dias" id="val_dias" value="">
                 <a class="km-listview-link" data-role="listview-link" onClick="clickHandler('daysView')">Días</a></li>
                </ul>
                </div>
                
                <div class="content-block-title">Hora Inicio</div>
                
           <div class="card">
           
            <div class="card-content">
            <div class="card-content-inner">
                
                <select name="horas" id="horas">
                    <option value="null">HORA</option>
                    <option value="01">01</option>
                    <option value="02">02</option> 
                    <option value="03">03</option>
                    <option value="04">04</option> 
                    <option value="05">05</option>
                    <option value="06">06</option> 
                    <option value="07">07</option>
                    <option value="08">08</option> 
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                 </select>
                    
                 <select name="minutos" id="minutos">
                     <option value="null">MINUTOS</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                     <option value="30">30</option> 
                     <option value="45">45</option>
                 </select>
                    
                 <select name="time" id="time">
                    <option value="am">a.m.</option>
                    <option value="pm">p.m.</option> 
                 </select>
                
            </div>
            </div>
          </div>
                
               
       </form>
             
               
          </div>
       </div>

 <footer data-role="footer">
            <div data-role="tabstrip" id="navigation-container">
                <a onClick="ValidFoundCourses();" data-role="button" data-icon="search">BUSCAR</a>
            </div>
        </footer>
    
    
    <!-- END_CUSTOM_CODE_plannedCoursesView -->
</div>
