<div data-role="view" data-title="Aviso de Privacidad"  data-layout="main-nonav" data-show="app.aprivacidadView.onShow" data-after-show="app.aprivacidadView.afterShow">
    
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
           <a data-role="backbutton" data-align="left">Login</a>
        </div>
      </div>
    
    
   
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    
     <div class="page-view" data-bind="invisible:error">
    <div class="signin-view">
           
        <div class="login-screen-title"><span style="color:#0AB0E7">Net</span> <span style="color:#F7881C">Anáhuac</span></div>
        
    </div>
    
      <div class="list-block">
                
          
          

      </div>
         
         </div>
    
    
        <!-- START_CUSTOM_CODE_authenticationViewModel -->
        <!-- END_CUSTOM_CODE_authenticationViewModel -->
   
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_authenticationView -->
    <!-- END_CUSTOM_CODE_authenticationView -->
</div>