<div data-role="view" data-title="Aviso de Privacidad"  data-layout="main-nonav" data-show="app.aprivacidadView.onShow" data-after-show="app.aprivacidadView.afterShow">
    
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
           <a data-role="backbutton" data-align="left">Login</a>
        </div>
      </div>
    
    
   
    <div data-role="header">
        <div data-role="navbar" style="background-color:#0079BA !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    
     <div class="page-view" data-bind="invisible:error">
    <div class="signin-view">
        
    </div>
    
      <div class="page-view">
          <div class="page-content">
              <br>
              <h5>Aviso de Privacidad para la Protección de Datos Personales</h5>
			<p style="text-align: justify; font-size: 11px;">
				
				En términos de lo previsto en la Ley Federal de Protección de Datos Personales en
Posesión de los Particulares (en lo sucesivo denominada como “la Ley”),
la Universidad
Anáhuac, institución de educación superior operada por Investigaciones y Estudios
Superiores, S.C., titular del Reconocimiento de Validez Oficial de Estudios otorgado por
Decreto Presidencial publicado en el D.O.F. de fecha 26 de noviembre d
e 1982, establece
el presente Aviso de Privacidad de conformidad con lo siguiente: 
             </p>                  
            <h5>Términos y Condiciones</h5>
                                        							
		    <p style="text-align: justify; font-size: 11px;">							
	<b>1.-</b> El presente Aviso de Privacidad tiene por objeto la protección de los datos personales de los integrantes de la comunidad universitaria (aspirantes, alumnos, egresados, personaldirectivo, personal docente y personal administrativo), mediante su tratamiento legítimo,controlado e informado, a efecto de garantizar su privacidad, así como tu derecho a laautodeterminación informativa.<br><br>
	
<b>2.-</b>Dato Personales Cualquier información concerniente a una persona física identificada o identificable; el responsable de recabar los datos personales es el área de atención preuniversitaria (procesos de promoción e inscripción de alumnos); el área de administración escolar (una vez que los alumnos se hayan inscrito formalmente); y el área de recursos humanos (para personal directivo, docente y administrativo).<br><br>

<b>3.-</b>El domicilio de la Universidad Anáhuac y del área responsable, es el mismo que tiene registrada la sede de la Universidad Anáhuac ante la Secretaría de Educación Pública.<br><br>

<b>4.-</b>Alproporcionar tus Datos Personales por escrito, a través de una solicitud, formato en papel, formato digital, correo electrónico, o cualquier otro documento, aceptas y autorizas a la Universidad Anáhuac a utilizar y tratar de forma automatizada tus datos personales e información suministrados, los cuales formarán parte de nuestra base de datos con la finalidad de usarlos, en forma enunciativa, más no limitativa, para: identificarte, ubicarte, comunicarte, contactarte, enviarte información y/o bienes, así como para enviarlos y/o transferirlos a terceros, dentro y fuera del territorio nacional, por cualquier medio que permita la ley para cumplir con nuestros fines sociales.
<br><br>
Mediante la aceptación y autorización para el tratamiento de tus datos personales en los términos antes señalados, nos facultas expresamente a transferirlos a autoridades de cualquier nivel (Federales, Estatales, Municipales), organismos públicos y privados, diversas empresas y/o personas físicas, dentro y fuera de México, con el propósito de certificar tus estudios y competencias, así como para participar en sus procesos de selección de personal y aplicar a los diversos puestos de trabajo vacantes que éstas publiquen en nuestra Bolsa de Trabajo; y nos autorizas a poder emitir documentación,oficial o no, a tus representantes legales y familiares o parientes.

<br><br>
<b>5.-</b>La temporalidad del manejo de tus Datos Personales será indefinida a partir de la fecha en que nos los proporciones, pudiendo oponerte al manejo de los mismos en cualquier momento que lo consideres oportuno, con las limitaciones de Ley; en caso de que tu solicitud de oposición sea procedente, la Universidad Anáhuac dejará de manejar tus Datos Personales sin ninguna responsabilidad de nuestra parte. Quedan fuera de este supuesto las Bases de Datos referentes a las calificaciones y demás información académicade los alumnos, ex alumnos y egresados de la Universidad Anáhuac, y alumnos en movilidad o en intercambio provenientes de otras instituciones.
<br><br>
<b>6.-</b> El área de la Universidad Anáhuac responsable del tratamiento de tus datos personales, está obligada a cumplir con los principios de licitud, consentimiento,información, calidad,finalidad, lealtad, proporcionalidad y responsabilidad tutelados en la Ley; por tal motivo con fundamento en los artículos 13 y 14 de la Ley, la Universidad Anáhuac se compromete a guardar estricta confidencialidad de tus datos personales, así como a mantener las medidas de seguridad administrativas, técnicas y físicas que permitan protegerlos contra cualquier daño, pérdida, alteración, acceso o tratamiento no autorizado.

<br><br>
<b>7.-</b> En términos de lo establecido por el artículo 22 de la Ley, tienes derecho en cualquier momento a ejercer tus derechos de acceso, rectificación, cancelación y oposición al tratamiento de tus datos personales, mediante la solicitud vía correo electrónico dirigido al Lic. Miguel Ángel Sánchez Ocampo (msanchez@anahuac.mx), o por escrito en el domicilio oficial de cada sede de la Universidad Anáhuac en la República Mexicana, solicitud que debe contener los requisitos que marca la Ley.

<br><br>
<b>8.-</b> La Universidad Anáhuac ocasionalmente modificará y corregirá este Aviso de Privacidad, por lo tanto te pedimos que revises este aviso regularmente en la página de internet que corresponda, o en www.anahuac.info

<br><br>
<b>9.-</b> La Universidad Anáhuac protegerá tus Datos Personales en los términos de la Ley, y te comunicará los elementos contenidos en las fracciones del artículo 16 de la Ley.

<br><br>
<b>10.-</b> Aportar tus datos personales, cubrir el pago de inscripción a la Universidad Anáhuac y seleccionar asignaturas, es un hecho que presume tu total aceptación al contenido del presente Aviso de Privacidad. No obstante, te pedimos suscribir de conformidad el presente documento, el que formará parte de tu expediente como integrante de la Universidad Anáhuac.
	
										
										 
				
			</p>
         
              <br>
              
              
          </div>
      </div>
         
         </div>
    
    
        <!-- START_CUSTOM_CODE_authenticationViewModel -->
        <!-- END_CUSTOM_CODE_authenticationViewModel -->
   
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_authenticationView -->
    <!-- END_CUSTOM_CODE_authenticationView -->
</div>