<div data-role="view" data-title="Apoyo Financiero" data-layout="main" data-model="app.aboutView" data-show="app.helpfinancialView.onShow" data-after-show="app.helpfinancialView.afterShow">
    
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
      </div>
    
    
    <div class="page-view" data-bind="invisible:error">
       <div id="load-content" class="external-load"><img src="resources/load.gif"/></div>
        <div class="page-content">

        <div id="apoyof">
                        
        </div>

       
        <!-- START_CUSTOM_CODE_retentionsModel -->
        <!-- END_CUSTOM_CODE_retentionsModel -->
     </div>
    </div>
    <!-- START_CUSTOM_CODE_retentionsView -->
    <!-- END_CUSTOM_CODE_retentionsView -->
</div>