<div data-role="view" data-title="Campus"  data-layout="main-nonav" data-model="app.campusView" data-show="app.campusView.onShow" data-after-show="app.campusView.afterShow">
    <!-- START_CUSTOM_CODE_perfilView -->

    <!--
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="Refresh_campus();">&nbsp;</a>
        </div>
      </div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="icon-atras" onClick="clickHandler('searchCoursesView');">&nbsp;&nbsp;&nbsp;Atras</span> <!-- ATRAS -->
                <span class="km-icon km-refresh button_refresh" onClick="Refresh_campus();"></span>
                <div class="line-gray">Campus</div>
                
                <div class="line-orange">
                </div>
            </div>
       </footer>
    
    
    
    
    <div class="page-view" data-bind="invisible:error">
        <div class="page-content" id="campus">
            
      
        </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    <!--
      <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Campus</div>
            </div>
     </footer>
   -->
    <!-- END_CUSTOM_CODE_perfilView -->
</div>


