<div data-role="view" data-title="Detalle Calificaciones"  data-layout="main-nonav" data-show="app.gradeDetalleView.onShow" data-after-show="app.gradeDetalleView.afterShow">
    <!-- START_CUSTOM_CODE_perfilView -->

    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="getDetalleGrade_gd();">&nbsp;</a>
        </div>
      </div>
    
    
    <div class="page-view" data-bind="invisible:error" id="GRD_CALIF_COURSE">
        
       
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    
     
    
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Detalle Calificaciones</div>
                <div class="line-orange"><br> <span id="div_course_DG"></span></div>
            </div>
      </footer>
   
    <!-- END_CUSTOM_CODE_perfilView -->
</div>





