<div data-role="view" data-title="Calificaciones Parciales" data-layout="main"  data-model="app.gradesView" data-show="app.gradesView.onShow" data-after-show="app.gradesView.afterShow">
   
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="getCalificaciones();">&nbsp;</a>
        </div>
      </div>
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    
   <div class="page-view" data-bind="invisible:error">
        <div class="page-content">
        
         <ul data-role="listview" id="califparciales">
             
         </ul>
        
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
        </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
</div>