<div data-role="view" data-title="Calificaciones Parciales" data-layout="main"  data-model="app.gradesView" data-show="app.gradesView.onShow" data-after-show="app.gradesView.afterShow">
   
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="Refresh_CalifParc();">&nbsp;</a>
        </div>
      </div>
    
 
    
   <div class="page-view" data-bind="invisible:error">
        <div class="page-content">
        
         <ul data-role="listview" id="califparciales">
             
         </ul>
            
         <div class="card_light" id="califparcialesMsg" style="display:none;">
             <div class="card-header">Calificaciones no disponibles por retenciones en su registro.</div>
         </div>
        
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
        </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    
    
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Calificaciones Parciales</div>
                
            </div>
    </footer>
</div>
