<div data-role="view" data-title="Net Anáhuac"  data-layout="main" data-transition="overlay:down" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->

    
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-click="ViewList" data-icon="drawer-icon" data-align="left"> </a>
            <a data-role="button" data-align="right" data-click="ExitApp">Salir</a>
        </div>
      </div>
    
    
   
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ><span id="name_student"></span></div>
            
        </div>
	</div>
   
    
    <div class="km-content home">
    <div class="menu">
        <ul>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('searchCoursesView')">
                    <div class="round_img"><img  alt="Búsqueda de Cursos" src="resources/img/icons/BusquedaCursos57x57.png"/></div><div><div>Busqueda de Cursos</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('plannedCoursesView')">
                    <div class="round_img"><img  alt="Cursos Planeados" src="resources/img/icons/Cursosinteres57x57.png"/></div><div><div>Cursos Planeados</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('inscriptionView')">
                    <div class="round_img"><img  alt="Cita de Inscripción" src="resources/img/icons/CitaInscripcion57x57.png"/></div><div><div>Cita de Inscripción</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('scheduleView')">
                    <div class="round_img"><img  alt="Horario" src="resources/img/icons/Horario57x57.png"/></div><div><div>Horario</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('perfilView')">
                    <div class="round_img"><img  alt="Perfil" src="resources/img/icons/Perfil57x57.png"/></div><div><div>Perfil</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('academicStatusView')">
                    <div class="round_img"><img  alt="Situación Académica" src="resources/img/icons/SituacionAcademica57x57.png"/></div><div><div>Situación Académica</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('gradesView')">
                    <div class="round_img"><img alt="Calificaciones Parciales" src="resources/img/icons/Calif_Parciales57x57.png"/></div><div><div>Calificaciones Parciales</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('academicHistoryView')">
                    <div class="round_img"><img alt="Historia Académica" src="resources/img/icons/HistoriaAcademica57x57.png"/></div><div><div>Historia Académica</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('statusPayView')">
                    <div class="round_img"><img title="" alt="" src="resources/img/icons/EstadoCuenta57x57.png"/></div><div><div>Estado de Cuenta</div></div></a>
            </li>
            <li>
               <a href="javascript:void(0)" onClick="clickHandler('studentCreditView')">
                    <div class="round_img"><img alt="Crédito Educativo" src="resources/img/icons/CreditoEducativo57x57.png"/></div><div><div>Crédito Educativo</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('helpfinancialView')">
                    <div class="round_img"><img  alt="Apoyo Financiero" src="resources/img/icons/ApoyoFinanciero57x57.png"/></div><div><div>Apoyo Financiero</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('retentionsView')">
                    <div class="round_img"><img  alt="Retenciones" src="resources/img/icons/Retencion57x57.png"/></div><div><div>Retenciones</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('newsView')">
                    <div class="round_img"><img  alt="Noticias" src="resources/img/icons/Noticias57x57.png"/></div><div><div>Noticias</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('eventsView')">
                    <div class="round_img"><img alt="Eventos" src="resources/img/icons/Eventos57x57.png"/></div><div><div>Eventos</div></div></a>
            </li>
            <li>
                <a href="javascript:void(0)" onClick="clickHandler('opinionView')" >
                    <div class="round_img"><img alt="Tu Opinión" src="resources/img/icons/TuOpinion57x57.png"/></div><div><div>Tu Opinión</div></div></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
        </div>

    <!-- END_CUSTOM_CODE_homeView -->
</div>


