<div data-role="view" data-title="Horario" data-layout="main-nonav" data-model="app.scheduleView" data-show="app.scheduleView.onShow" data-after-show="app.scheduleView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
	</div>
    <!-- ____________________________________________________________________________________________ -->
    
     
	 <div class="page-view" data-bind="invisible:error">
         <div class="page-box">
	
    		<div id="div_horario">
            </div>
			<table id="table_schedule_id" border="0" cellspacing="0" cellpadding="2" class="sty_table"style="width:100%">
				<tbody id="tbody_sched_id"></tbody>
			</table>
    
         </div>
    </div>
    
    
    <!-- ____________________________________________________________________________________________ -->
    <footer data-role="footer">
		<a href="view.html"></a>
            <div data-role="tabstrip" id="navigation-container">
                <a data-icon="home" onclick="">Calendar</a>
                <a data-icon="home" onclick="toogleScheduleView();">Calendar</a>
            </div>
        </footer>
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
