<div data-role="view" data-title="Horario" data-layout="main-nonav" data-model="app.scheduleView" data-show="app.scheduleView.onShow" data-after-show="app.scheduleView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<!--
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            
            <a data-role="button" data-align="right" id="PC_prev_arrow"  onclick="H_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="PC_next_arrow"  onclick="H_showNext()" style="color:#fff;">Siguiente ></a>
            
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="km-icon km-home button_home" onClick="goHome();"></span> <!-- Home -->
                <span class="km-icon km-refresh button_refresh" onClick="Refresh_Shedule();"></span>
                <div class="line-gray">Horario</div>
                
                <div class="line-orange">
                    <div id="desc_H_Fecha" class="rotulo_center">periodo</div>
                    <span class="button_left" onclick="H_showPrevius()">&nbsp;&nbsp;</span>
                    <span class="button_right" onclick="H_showNext()">&nbsp;&nbsp;</span>
                </div>
                
            </div>
       </footer>
    <!-- ____________________________________________________________________________________________ -->
    
    
	 <div class="page-view" data-bind="invisible:error">
         <div class="page-box">
	
    		<div id="div_horario">
            </div>
			<table id="table_schedule_id" border="0" cellspacing="0" cellpadding="2" class="sty_table" style=" width:100%; z-index:0;">
				<tbody id="tbody_sched_id"></tbody>
			</table>
    
         </div>
    </div>
    
     
    
    
    
    <!-- ____________________________________________________________________________________________ -->
    
    <div data-role="header">
        <div data-role="tabstrip" id="navigation-container">
            <div data-role="view-title"></div>
            <a data-role="button" class="km-state-active" data-icon="organize" onclick="toggleScheduleView()" >Cambiar Vista</a>
            <a data-role="button" data-icon="calendar"  href="components/scheduleView/calendar.html">Calendario</a>
        </div>
	</div>
    <!--
    <footer data-role="footer">
            <div data-role="tabstrip" id="navigation-container">
     
                <a data-role="button" class="km-state-active" data-icon="organize" onclick="toggleScheduleView()" >Cambiar Vista</a>
                <a data-role="button" data-icon="calendar"  href="components/scheduleView/calendar.html">Calendario</a>
                
            </div>
    </footer>
    <!--
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Horario</div>
                <span class="km-icon km-refresh android" s onClick="CoursesPlaned();"></span>
                <div class="line-orange"><span id="desc_H_Fecha"></span></div>
            </div>
      </footer>
    -->
    
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
