<div data-role="view" data-title="Historia Acad&eacute;mica" data-layout="main-nonav" data-model="app.academicHistoryView" data-show="app.academicHistoryView.onShow" data-after-show="app.academicHistoryView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<!--
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            
            <a data-role="button" data-align="right" id="AH_prev_arrow"  onclick="AH_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="AH_next_arrow"  onclick="AH_showNext()" style="color:#fff;">Siguiente ></a>
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="km-icon km-home button_home" onClick="goHome();"><span class="text-home">Inicio</span></span> <!-- Home -->
                <span class="km-icon km-refresh button_refresh" onClick="Refresh_HAcademic();"></span>
                <div class="line-gray">Historia Acad&eacute;mica</div>
                
                <div class="line-orange">
                    <div id="div_term_periodoHA" class="rotulo_center">&nbsp;</div>
                    <span id="AH_prev_arrow" class="button_left" onclick="AH_showPrevius()">&nbsp;&nbsp;&nbsp;</span>
                    <span id="AH_next_arrow" class="button_right" onclick="AH_showNext()">&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
       </footer>
    
    
   
	   <div class="page-view" data-bind="invisible:error">
          <div class="page-content">
           
            <div id="div_content_idHA">

			</div>
           
         </div>
       </div>

    <!--
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Historia Acad&eacute;mica</div>
                <div class="line-orange"> <span id="div_term_periodoHA"></span></div>
            </div>
      </footer>
    -->

    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
