<div data-role="view" data-title="Detalle Noticia" data-layout="main-nonav" data-show="app.newsdetailView.onShow" data-after-show="app.newsdetailView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
	</div>
    
    
      <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" id="N_asunto"></div>
            
        </div>
	</div>
    
     
    <div class="page-box">
        
        
         <div class="card" style="margin-top:10px;">
            <div class="card-header"><span id="N_categoria"></span></div>
            
             <div class="card-content">
                 <div class="card-content-inner">
				   <div id="N_fecha">fecha </div>
				   <br/>
				   <div id="N_campus" class="item-title">Campus</div>
				   <div id="N_detalle">evento</div>
				   <br/>
				   <div id="N_link" style="color:#0033CC;">liga</div>
                
                 </div>
            </div>
         </div>
        
    </div>
    
	
	
   
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
