<div data-role="view" data-title="Noticias" data-layout="main"  data-model="app.newsView" data-show="app.newsView.onShow" data-after-show="app.newsView.afterShow">
   
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
             <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="Refresh_News();">&nbsp;</a>
        </div>
      </div>
    
    
    
    
     <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="noticias">
        
            
 
         
        
       <!-- START_CUSTOM_CODE_newsModel -->
        <!-- END_CUSTOM_CODE_newsViewModel -->
    </div>
    </div>
    <!-- START_CUSTOM_CODE_newsView -->
    <!-- END_CUSTOM_CODE_newsView -->
    
    
        <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Noticias</div>
            </div>
      </footer>
</div>