<div data-role="view" data-title="Estado de Cuenta" data-layout="main-nonav" data-model="app.movimientosView" data-show="app.movimientosView.onShow" data-after-show="app.movimientosView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
             <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" id="SPMO_prev_arrow"  onclick="SPMO_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="SPMO_next_arrow"  onclick="SPMO_showNext()" style="color:#fff;">Siguiente ></a>
        </div>
	</div>
    
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="id_movimientosSP">
           
         </div>
       </div>

 <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Estado de Cuenta</div>
                <span class="km-icon km-refresh android" s onClick="SPMovimientosFuct_Refresh();"></span>
                <div class="line-orange"> <span id="term_periodo_mov"></span><br>(MOVIMIENTOS)</div>
            </div>
      </footer>
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
