<div data-role="view" data-title="Estado de Cuenta" data-layout="main-nonav" data-model="app.movimientosView" data-show="app.movimientosView.onShow" data-after-show="app.movimientosView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
             <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="SPMovimientosFuct_Refresh();">&nbsp;</a>
        </div>
	</div>
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;"><div class="normal-header-title" id="term_periodo_vc">Periodo</div><div class="small-header-title">(MOVIMIENTOS)</div></div>
            <a data-role="button" id="SPM_prev_arrow" class="km-widget km-button km-back" onclick="SPM_showPrevius()" data-align="left">&nbsp;</a>
            <a data-role="button" id="SPM_next_arrow" data-align="right" onclick="SPM_showNext()"><span class="km-icon km-details"></span>&nbsp;</a>
        </div>
	</div>
    
    
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="id_movimientos">
                  
             
           
           
         </div>
       </div>


    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
