<div data-role="view" data-title="Estado de Cuenta" data-layout="main-nonav" data-model="app.vencidosView" data-show="app.vencidosView.onShow" data-after-show="app.vencidosView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" id="SPV_prev_arrow"  onclick="SPV_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="SPV_next_arrow"  onclick="SPV_showNext()" style="color:#fff;">Siguiente ></a>
            
        </div>
	</div>
    
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="id_vencidosSP">
         </div>
       </div>

    
     <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Estado de Cuenta</div>
                <span class="km-icon km-refresh android" s onClick="SPVencidosFuct_Refresh();"></span>
                <div class="line-orange"> <span id="term_periodo_ve"></span><br>(VENCIDOS)</div>
            </div>
      </footer>
    

    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
