<div data-role="view" data-title="Estado de Cuenta" data-layout="main-nonav" data-model="app.vencidosView" data-show="app.vencidosView.onShow" data-after-show="app.vencidosView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="SPVencidosFuct_Refresh();">&nbsp;</a>
        </div>
	</div>
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;"><div class="normal-header-title" id="term_periodo_ve"></div><div class="small-header-title">(VENCIDOS)</div></div>
            <a data-role="button" id="SPV_prev_arrow" class="km-widget km-button km-back" style="display:none;" onclick="SPM_showPrevius()" data-align="left">&nbsp;</a>
            <a data-role="button" id="SPV_next_arrow" data-align="right" style="display:none;" onclick="SPM_showNext()"><span class="km-icon km-details"></span>&nbsp;</a>
        </div>
	</div>
    
    
	   <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="id_vencidosSP">
         </div>
       </div>


    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
