<div data-role="view" data-title="Estado de Cuenta" data-layout="main"  data-model="app.statusPayView" data-show="app.statusPayView.onShow" data-after-show="app.statusPayView.afterShow">
   
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="getEstadoCuenta();">&nbsp;</a>
        </div>
      </div>
    
    
       <div class="page-view" data-bind="invisible:error">
         <div class="page-content">
        
   
         <ul data-role="listview">
             <li><a class="km-listview-link" data-role="listview-link" onclick="llenarFormaVencidos();">Vencidos:<span id="vencidos"></span></a></li>
             <li><a class="km-listview-link" data-role="listview-link" onclick="llenarFormaNoVencidos();">No Vencidos:<span id="novencidos"></span></a></li>
             <li><a class="km-listview-link" data-role="listview-link" onclick="llenarFormaporAplicar();">Por Aplicar:<span id="paplicar"></span></a></li>
             <li>Saldo Total:<span id="stotal"></span></li>
             <li><a class="km-listview-link" data-role="listview-link" onclick="llenarFormaMovimientos();">Movimientos:<span id="movimientos"></span></a></li>
         </ul>
        
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
</div>