<div data-role="view" data-title="Estado de Cuenta" data-layout="main"  data-model="app.statusPayView" data-show="app.statusPayView.onShow" data-after-show="app.statusPayView.afterShow">
       <!--
     <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="SPCuentaPay_Refresh();">&nbsp;</a>
        </div>
      </div>
    
    <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ></div>
            
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="km-icon km-home button_home" onClick="goHome();"></span> <!-- Home -->
                <span class="km-icon km-refresh button_refresh" onClick="SPCuentaPay_Refresh();"></span>
                <div class="line-gray">Estado de Cuenta</div>
                
                <div class="line-orange">
                </div>
            </div>
       </footer>
    
    
       <div class="page-view" data-bind="invisible:error">
         <div class="page-content">
        
   
         <ul data-role="listview">
             <li><a class="km-listview-link" data-role="listview-link" href="components/statusPayView/vencidos.html"><span style="font-size:15px;">Vencidos</span><span class="icon-right"></span><span style="font-size:16px; float:right; margin-right:13px; color:#8e8e93;" id="vencidos"></span> </a> </li>
             <li><a class="km-listview-link" data-role="listview-link" href="components/statusPayView/novencidos.html"><span style="font-size:15px;">No Vencidos</span><span class="icon-right"></span><span style="font-size:16px; float:right; margin-right:13px; color:#8e8e93;" id="novencidos"></span></a></li>
             <li><span style="font-size:15px;">Saldo Total</span><span style="font-size:16px;  float:right; margin-right:13px; color:#8e8e93;" id="stotal"></span></li>
             <li><a class="km-listview-link" data-role="listview-link" href="components/statusPayView/movimientos.html"><span style="font-size:15px;">Movimientos</span><span class="icon-right"></span><span style="font-size:16px; float:right; margin-right:13px; color:#8e8e93;" id="movimientos"></span></a></li>
         </ul>
        
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    <!--
     <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Estado de Cuenta</div>
            </div>
      </footer>
    -->
</div>