<div data-role="view" data-title="Detalle del Evento" data-layout="main-nonav" data-model="app.eventDetailView" data-show="app.eventDetailView.onShow" data-after-show="app.eventDetailView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
	</div>
    
    
     
    <div class="page-box">
        
        
         <div class="card" style="margin-top:10px;">
            <div class="card-header"><span id="dia_id"></span><span id="fecha_id" style="float:right !important;"></span></div>
            
             <div class="card-content">
                 <div class="card-content-inner">
                  
				   <div id="lugar_id">lugar </div>
				   <div id="fechas_id">fecha </div>
				   <div id="hora_id">hora </div><BR>
				   <div><span class="item-title">Descripción:</span></div>
				   <div id="evento_id">evento</div>
				   <div id="contacto_id">contacto</div>
				   <div id="telefono_id">telefono</div>
				   <div id="link_id">liga</div>
                
                 </div>
            </div>
         </div>
        
    </div>
    
	
     <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Detalle del Evento</div>
                <div class="line-orange"> <span id="asunto_id"></span></div>
            </div>
        </footer>
	
   
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
