<div data-role="view" data-title="Eventos" data-layout="main-nonav" data-model="app.eventsView" data-show="app.eventsView.onShow" data-after-show="app.eventsView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Inicio</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="Refresh_Events();">&nbsp;</a>
        </div>
	</div>
    
            
      <div class="page-view" data-bind="invisible:error">
         <div class="page-box" id="div_events_id">
            
        </div>
        
    </div>
    
   
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
