<div data-role="view" data-title="Cita de Inscripción" data-layout="main" data-model="app.inscriptionView" data-show="app.inscriptionView.onShow" data-after-show="app.inscriptionView.afterShow">
    
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="button" data-align="left" href="components/homeView/view.html" data-icon="home">Home</a>
            <a data-role="button" data-align="right" data-icon="refresh" onClick="getInscripcion();">&nbsp;</a>
        </div>
      </div>
    
     <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;" ><span id="ci_periodo01"></span></div>
            
        </div>
	</div>
    
    
    <div class="page-view" data-bind="invisible:error">
        <div class="page-content">

            <div id="div_inscripcion_id">
                
            </div>
          
           
        </div>
    </div>

</div>
