<div data-role="view" data-title="Cita de Inscripción" data-layout="main" data-model="app.inscriptionView" data-show="app.inscriptionView.onShow" data-after-show="app.inscriptionView.afterShow">
    
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
        </div>
      </div>
    
    
    <div class="page-view" data-bind="invisible:error">
         <div class="page-box">

        <div id="inscripcion">
                        
        </div>

       
        <!-- START_CUSTOM_CODE_retentionsModel -->
        <!-- END_CUSTOM_CODE_retentionsModel -->
    </div>
    </div>
    <!-- START_CUSTOM_CODE_retentionsView -->
    <!-- END_CUSTOM_CODE_retentionsView -->
</div>