<div data-role="view" data-title="Cerrar Sesión" data-transition="overlay:up" data-layout="main" data-model="app.logoutView" data-show="app.logoutView.onShow" data-after-show="app.logoutView.afterShow">
    <div class="logout-view" data-bind="invisible:error">
        
         <div class="card_logout">
        
        <div class="button-group button-group-vertical">
            <a data-role="button" data-click="LogoutApp" class="primary" >Cerrar Sesión</a><br>
            <a  data-role="button" data-click="CancelLogout" >Cancelar</a>
        </div>
             </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
</div>