<div data-role="view" data-title="Estado de Cuenta" data-layout="main-nonav" data-model="app.novencidosView" data-show="app.novencidosView.onShow" data-after-show="app.novencidosView.afterShow">
    <!-- START_CUSTOM_CODE_academicStatusView -->

    <!--
	<div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>

            <a data-role="button" data-align="right" id="SPNV_prev_arrow"  onclick="SPNV_showPrevius()" style="color:#fff;">< Atras</a>
            <a data-role="button" data-align="right" id="SPNV_next_arrow"  onclick="SPNV_showNext()" style="color:#fff;">Siguiente ></a>
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="icon-atras" onClick="clickHandler('statusPayView');">&nbsp;&nbsp;&nbsp;Atr&aacute;s</span> <!-- ATRAS -->
                <span class="km-icon km-refresh button_refresh" onClick="SPNOVencidosFuct_Refresh();"></span>
                <div class="line-gray">Estado de Cuenta</div>
                
                <div class="line-blue">
                    <div> <span id="term_periodo_nv"></span><br>(NO VENCIDOS)</div>
                    <span id="SPNV_prev_arrow" class="button_left" onclick="SPNV_showPrevius()">&nbsp;&nbsp;</span>
                    <span id="SPNV_next_arrow" class="button_right" onclick="SPNV_showNext()">&nbsp;&nbsp;</span>
                </div>
            </div>
       </footer>
   
    
   <div class="page-view" data-bind="invisible:error">
   <div class="page-box" id="id_novencidosSP">
     
         
       
       
   </div>
   </div>


    <!--
     <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Estado de Cuenta</div>
                <span class="km-icon km-refresh android" s onClick="SPNOVencidosFuct_Refresh();"></span>
                <div class="line-orange"> <span id="term_periodo_nv"></span><br>(NO VENCIDOS)</div>
            </div>
      </footer>
    -->
    <!-- END_CUSTOM_CODE_academicStatusView -->
</div>
