<div data-role="view" data-title="Detalle del Curso"  data-layout="main-nonav" data-show="app.detailcourseView.onShow" data-after-show="app.detailcourseView.afterShow">
    <!-- START_CUSTOM_CODE_perfilView -->

        <footer data-role="footer" class="header-top-android">
            
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                
                <span class="icon-atras" onClick="Cursos_back();">&nbsp;&nbsp;&nbsp;Atras</span> <!-- ATRAS -->
                <span class="km-icon km-refresh button_refresh" onClick="getDetalleCurso_DCD();"></span>
                <div class="line-gray">Detalle del Curso</div>
                
                <div class="line-orange"> <span id="title_course_DC"></span><div id="title_periodo_DC"></div></div>
            </div>
            
        </footer>
    
    
    
    <div class="page-view" data-bind="invisible:error">
        <input type="hidden" id="DC_PERIODO" value="" />
        <input type="hidden" id="DC_CRN" value="" />
        
        <div id="detallecurso">
  
        </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    
     
     
    <div data-role="header">
        <div data-role="tabstrip" id="navigation-container">
            <div data-role="view-title"></div>
            <a id="SC_btn_set" data-role="button"><!--FAVORITO-->
                <img id="icon-img" src="" style="width:20pt; height:20pt;" /> <br>
                <span id="txt-favorit" class="km-text">&nbsp;</span>
            </a>
        </div>
	</div>
    
    <!--
    <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Detalle del Curso</div>
                <span class="km-icon km-refresh android" s onClick="getAtributos();"></span>
                <div class="line-orange"><br><span id="title_course_DC"></span></div>
                
            </div>
        </footer>
    -->
    
   
    <!-- END_CUSTOM_CODE_perfilView -->
</div>





