<div data-role="view" data-title="Días"  data-layout="main-nonav" data-model="app.daysView" data-show="app.daysView.onShow" data-after-show="app.daysView.afterShow">
    <!-- START_CUSTOM_CODE_perfilView -->

    <!--
    <div data-role="header">
        <div data-role="navbar">
          <div data-role="view-title"></div>
            <a data-role="backbutton" data-align="left">Atras</a>
            <a onClick="sendDays();" data-align="right" data-role="button" data-icon="reply">Aceptar</a>
        </div>
      </div>
    
     <div data-role="header">
        <div data-role="navbar" style="background-color:#F7881C !important;">
          <div class="km-view-title" style="font-weight: normal !important;"></div>
        </div>
	</div>
    -->
       <footer data-role="footer" class="header-top-android">
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">

                <span class="icon-atras" onClick="clickHandler('searchCoursesView');">&nbsp;&nbsp;&nbsp;Atras</span> <!-- ATRAS -->
                <div class="line-gray">Días</div>
                
                <div class="line-orange">
                </div>
            </div>
       </footer>
    
    
    <div class="page-view" data-bind="invisible:error">
        <div class="page-content">
         
                  <ul class="pagelist" id="dias">
                  <li> <input type="checkbox" name="itemsdays" id="Lu" class="km-checkbox" onclick="setDay(this.id)"  value="Lu"/> Lunes</li>
                  <li> <input type="checkbox" name="itemsdays" id="Ma" class="km-checkbox" onclick="setDay(this.id)"  value="Ma"/> Martes</li>
                  <li> <input type="checkbox" name="itemsdays" id="Mi" class="km-checkbox" onclick="setDay(this.id)"  value="Mi"/> Miercoles</li>
                  <li> <input type="checkbox" name="itemsdays" id="Ju" class="km-checkbox" onclick="setDay(this.id)"  value="Ju"/> Jueves</li>
                  <li> <input type="checkbox" name="itemsdays" id="Vi" class="km-checkbox" onclick="setDay(this.id)"  value="Vi"/> Viernes</li>
                  <li> <input type="checkbox" name="itemsdays" id="Sa" class="km-checkbox" onclick="setDay(this.id)"  value="Sa"/> Sabado</li>
                  <li> <input type="checkbox" name="itemsdays" id="Do" class="km-checkbox" onclick="setDay(this.id)"  value="Do"/> Domingo</li>
                  </ul>
            
          </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- END_CUSTOM_CODE_aboutView -->
    
     
    
    

    <!--
     <footer data-role="footer" class="header-top-android"  >
            <div data-role="tabstrip" style="box-shadow:none;" id="navigation-container">
                <div class="line-gray">Días</div>
            </div>
     </footer>
    -->
    <div data-role="header">
        <div data-role="tabstrip" id="navigation-container">
            <div data-role="view-title"></div>
            <a onClick="sendDays();" data-align="right" data-role="button" data-icon="reply">Aceptar</a>
        </div>
	</div>
    
    
    
    <!-- END_CUSTOM_CODE_perfilView -->
</div>


